/* Third-section */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.third-section{
    background-color: #302d2d;
    color: white;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
}
.third-section .top-info h1{
    padding-bottom: 2rem;
}
.third-section .top-info p{
    padding-bottom: 4rem;
    color: rgb(255, 255, 255, 0.4);
}
.third-section .top-info hr{
    margin: 0 auto;
    width: 3%;
}

.third-section .icons{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
}
.third-section .icons .icon{
    width: 20%;
}
.third-section .icons .icon h3{
    padding: 30px 0px;
}
.third-section .icons .icon p{
    color: rgb(255, 255, 255, 0.5);
    letter-spacing: -1px;
}
